* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aperture';
    src: url('fonts/Univers-LT-Std-75-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'AP2';
    src: url('fonts/UniversLTStd-LightCn.otf') format('opentype');
}

/*PÁGINA LOGIN*/

h1 {
    font-family: 'Aperture';
    font-style: italic;
    letter-spacing: 3px;
}

.index {
    background-color: white;
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 65%;
    background-image: url('images/aperture-science-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
    animation: rotateBackground 40s linear infinite;
    z-index: -1;
}

@keyframes rotateBackground {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    padding: 0 15px;
    font-family: 'AP2';
}

.botaoLogar{
    width: 150px;
    height: 25px;
    font-family: 'AP2';
    letter-spacing: 2px;
}

/*PÁGINA MENU*/

.headerMenu {
    border-bottom: 5px solid #000;
    padding-bottom: 30px; 
}

.apertureLaboratoriesLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opcoes{
    margin-top: 150px;
    margin-left: 70px;
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}





