* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aperture';
    src: url('fonts/Univers-LT-Std-75-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'AP2';
    src: url('fonts/UniversLTStd-LightCn.otf') format('opentype');
}

/*PÁGINA LOGIN*/

h1 {
    font-family: 'Aperture';
    font-style: italic;
    letter-spacing: 3px;
}

.index {
    background-color: white;
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 65%;
    background-image: url('images/aperture-science-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
    animation: rotateBackground 40s linear infinite;
    z-index: -1;
}

@keyframes rotateBackground {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    padding: 0 15px;
    font-family: 'AP2';
    letter-spacing: 1px;
}

.botaoLogar{
    width: 150px;
    height: 25px;
    font-family: 'AP2';
    letter-spacing: 2px;
}

/*PÁGINA MENU*/

.headerMenu {
    padding-top: 20px;
    padding-bottom: 30px;
    background: 
        linear-gradient(to right, transparent 370px, #000 0%) bottom;
    background-size: 100% 5px; 
    background-position: 0px 173px ;
    background-repeat: no-repeat;
}

.apertureLaboratoriesLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opcoes {

    margin-left: 70px;
    width: 300px;
    gap: 100px;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: 'AP2';
    letter-spacing: 2px;
    border-right: 5px solid black;
  }
  
  .levaParaFuncionarios, .levaParaCobaias, .levaParaTestes {
    cursor: pointer;
    font-size: 30px;
    position: relative; 
  }

  .levaParaFuncionarios{
    padding: 30px 24px;
    margin-top: 100px;
  }

  .levaParaCobaias {
    padding: 30px 24px;

  }

  .levaParaTestes {
    padding: 30px 24px;
 
  }

    .levaParaFuncionarios::before,
    .levaParaCobaias::before,
    .levaParaTestes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; 
    height: 100%;
    background-color: rgba(194, 192, 192, 0.623);
    z-index: -1; 
    border-radius: 10px;
  }
  
    .levaParaFuncionarios:hover,
    .levaParaCobaias:hover,
    .levaParaTestes:hover {
    transform: scale(1.20);
  }


